<nav class="navbar navbar-expand-lg bg-success" data-bs-theme="dark">
  <!-- Navbar content -->
  <div class="container justify-content-between">
    <a class="navbar-brand" href="<%= "/main/index" %>"><strong><i class="bi bi-cash-coin"></i> CASH_COMMANDER</strong></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav nav-pills justify-content-around">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="<%= categories_path %>">Categories</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= operations_path %>">Operations</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= reports_index_path %>">Reports</a>
        </li>
      </ul>
    </div>
    <div class="col-md-3 text-end">
          <% if !user_signed_in? %>
            <%= link_to new_user_session_path do %>
              <button type="button" class="btn btn-outline-warning me-2">Login</button>
            <% end %>
            <%= link_to new_user_registration_path do %>
              <button type="button" class="btn btn-warning">Sign-up</button>
            <% end %>
          <% else %>
            <%= link_to edit_user_registration_path do %>
              <button type="button" class="btn btn-outline-warning me-2">Edit</button>
            <% end %>
            <%= link_to destroy_user_session_path, data: { turbo_method: :delete  } do %>
                <button type="button" class="btn btn-warning">Sign-out</button>
            <% end %>
          <% end %>
        </div>
  </div>
</nav>