<div class="container h-75 me-auto d-flex flex-column justify-content-start">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-center pt-3">About category</h1>
  <div class="d-flex justify-content-center">
    <%= render @category %>
  </div>
  <div class="text-center pt-3">
    <button class="btn btn-info mb-2 me-2"> 
      <%= link_to "Back to categories", categories_path %>
    </button>
    <button class="btn btn-success mb-2 me-2">
      <%= link_to "Edit this category", edit_category_path(@category) %>
    </button>
    <button class="btn btn-danger mb-2 me-2">
      <%= link_to "Destroy this category", category_path(@category), data: {turbo_method: :delete} %>
    </button>
  </div>
</div>
