<p style="color: green"><%= notice %></p>
<div class="container-sm me-auto mt-10 h-50 ">
  <h1 class="text-center">Category</h1>
  <div class="d-flex justify-content-center">
    <%= render @category %>
  </div>
  <div class="text-center">
    <button class="btn btn-success btn-sm mb-2 ms-2"> 
      <%= link_to "Back to categories", categories_path %>
    </button>
    <button class="btn btn-info btn btn-sm mb-2 ms-2">
      <%= link_to "Edit this category", edit_category_path(@category) %>
    </button>
    <button class="btn btn-danger btn btn-sm mb-2 ms-2">
      <%= link_to "Destroy this category", @category, method: :delete %>
    </button>
  </div>
</div>
