<div class="mb-3">
  <%= render template: 'reports/index' %>
</div>

<div></div>

<div class="container-fluid">
  <div class="text-center mt-3">
    <h1>Звіт за період: <%= params[:start_date] %> - <%= params[:end_date] %> </h1>
  </div>
  <div class="container bg-body-secondary d-flex justify-content-evenly">
    <div class="p-4">
      <%= render 'chart' %>
      
      <h4 class="text-center">Графік в розрізі категорій</h4>
      <div class="Chart_by_categories w-100">
        <canvas id="myChart" width="400" height="400"></canvas>
        <script>
        const ctx = document.getElementById('myChart');
        const data = {
        labels: <%= raw @category_names %>,
        datasets: [{
            label: "Загальна сума по категорії",
            data: <%= @amounts %>,
            backgroundColor: [
            'rgb(255, 99, 132)',
            'rgb(54, 162, 235)',
            'rgb(255, 205, 86)',
            'rgb(0, 255, 0)',
            'rgb(255, 51, 153)',
            'rgb(255, 128, 0)',
            'rgb(51, 51, 255)',
            'rgb(255, 255, 51)',
            'rgb(255, 51, 255)',
            'rgb(246, 20, 50)'
            ],
            hoverOffset: 10
        }]
        };;

        const config = {
        type: 'pie',
        data: data,
        options: {
          responsive: false
        }
        };

        const myChart = new Chart(ctx, config);
        </script>
      </div>
    </div>

    <div class="p-4 table-responsive">
      <h4 class="text-center">Таблиця в розрізі категорій</h4>
      <table class="table table-success table-hover table-bordered border-1">
        <thead>
          <tr>
            <th>Категорія</th>
            <th>Сума</th>
          </tr> 
        </thead>
        <tbody class="table-group-divider">
          <% @categories_and_amount.each do |category_item, amount_item| %>
          <tr>
            <td ><%= category_item %></td>
            <td><%= amount_item.round(2) %></td>
          </tr>
        </tbody>
        <% end %>
      </table>
    </div>
  </div>
</div>