<div class="container h-75 me-auto d-flex flex-column justify-content-start">
  <p style="color: green"><%= notice %></p>
  <h1 class="text-center m-3 p-4">About operation</h1>
  <div class="d-flex justify-content-center">
    <%= render @operation %>
  </div>
  <div class="text-center pt-3">
    <button class="btn btn-info mb-2 me-2"> 
      <%= link_to "Back to operations", operations_path %>
    </button>
    <button class="btn btn-success mb-2 me-2">
      <%= link_to "Edit this operation", edit_operation_path(@operation) %>
    </button>
    <button class="btn btn-danger mb-2 me-2">
      <%= link_to "Destroy this operation", operation_path(@operation), data: {turbo_method: :delete} %>
    </button>
  </div>
</div>